.menu2 {list-style-type: none;}
.menu2 li{margin-right: 4px; float:left;}
.menu2 a:link, .menu2 a:visited{
	text-decoration: none;
	font: 13px Arial;
	padding: 5px;
}
.air{
	height:100px;
	width:80px;
	margin-bottom: 5px;
	z-index:2;
}
.air:hover{
	opacity: 0;
}
.air1{
	position:fixed;
	height:100px;
	width:80px;
	margin-bottom: 5px;
	z-index:1;
}
.nav-item{
	display: flex;
 	flex-direction: column;
  	align-items: center;
  	color: #999;
}
.menu2 a:hover, .menu2 a:active{
	color: blue;
}
