.seo{
	font-weight: bold;
	color: blue;
}
a{
	float: right;
	text-decoration: none;
}
.car{
	margin: 4px 10px 0px;
	width: 350px;
	border: 1px solid black;
}
.sss{
	font-size: 25px;
	text-align: justify;
}
div{
	width: 1000px;
	margin: auto;
	padding: auto;
}