#wrapper{
  width: 150px;
  height: 150px;
  background-color: lightgreen;
  border-radius: 50%;
  position: relative;
}

#elem1{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
}

#elem2{
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  right: 30px;
}

#elem3{
  width: 27px;
  height: 27px;
  background-color: white;
  position: absolute;
  top: 63px;
  left: 62.5px;
}

#elem4{
  width: 75px;
  height: 8px;
  background-color: white;
  position: absolute;
  bottom: 30px;
  left: 37.5px;
}
